* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: arial;
}

body {
    padding: 10px;
}

body {
    background: lightblue;
    color: #663300;
}

.cat-section {
    display: flex;
    flex-direction: row;
    padding: 10px;
    justify-content: center;
    background: url("images/catbg.png") antiquewhite;
    background-size: 100px;
    width: 1000px;
    margin: 0 auto;
    border-radius: 10px;
    margin-top: 10px;
}

h2 {
    font-size: 16px;
}

h1,
h2 {
    text-align: center;
}

img {
    margin-left: 100px;
    border-radius: 10px;
    transition: 0.1s ease-in-out;
}

img:hover {
    opacity: 50%;
}

.cat-text {
    margin: auto 0;
}

.cat-text>* {
    padding: 10px;
}

.cat-text h3 {
    text-transform: uppercase;
    font-size: 50px;
    transition: 0.1s;
}

.cat-text h3:hover {
    transform: rotate(10deg);
}

.cat-text a {
    text-decoration: none;
    background-color: blue;
    color: white;
    border-radius: 10px;
    padding: 5px;
}


.cat-text p {
    visibility: hidden;
}

.cat-text a:hover,
.cat-text p {
    visibility: hidden;

}

em {
    color: darkslateblue;
}
